[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gDR"]
	path = gDR
	url = https://github.com/gdrplatform/gdr
[submodule "gDRcore"]
	path = gDRcore
	url = https://github.com/gdrplatform/gdrcore
[submodule "gDRimport"]
	path = gDRimport
	url = https://github.com/gdrplatform/gdrimport
[submodule "gDRstyle"]
	path = gDRstyle
	url = https://github.com/gdrplatform/gdrstyle
[submodule "gDRutils"]
	path = gDRutils
	url = https://github.com/gdrplatform/gdrutils
